/* Added image background to landing page*/
body {
  width: 80%;
  margin: 0 auto; 
  padding: 0;
  height: 100vh; /* Full viewport height */
  background-image: url('https://images.pexels.com/photos/5706220/pexels-photo-5706220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  font-family: 'Georgia', serif; /* Optional: Sets a classic font */
  color: black; /* Optional: Sets text color for better readability */
   /* Optional: Adds a shadow to text for better readability */
  font-size: 1.25em;
  font-weight: bold;
}
/* end of image background */

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#daily_tracker {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: .25em;
  border: 1px solid #0c0b0b;
  text-align: center;

}

.list-of-habits {
  list-style-type: none;
}
