/*color palette*/
:root {
  --daisy: #E9E7DA;
  --light-daisy: #F2F1EC;
  --gold: #CDA34F;
  --stem: #636B46;
  --greenery: #373F27;
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  height: 100vh; /* Full viewport height */
  background-color: var(--daisy);
  color: var(--greenery);
}

h2,
h3 {
  padding: .5rem;
}

ul {
  padding: .5rem;
}

li {
  padding: .5rem;
}

/* end of image background */
.title{
  width:fit-content;
  padding-block:10px 20px;
}

#daily_tracker {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: .25em;
  border: 1px solid #0c0b0b;
  text-align: center;
  background-color: #E9E7DA;

}

.list-of-habits {
  list-style-type: none;
}

header {
  background-color: var(--gold);
  color: var(--greenery);
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-image: url('../images/flowerpic3.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  border-right: 4px solid var(--stem);
}

h3 {
  color: var(--greenery);
}

.btn {
 margin-top: 5px;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: .5rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-size: 1.5rem;
}
.gauge {
  margin-top: 10px;

}

.journalButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#energyLevel{
  width: 20%; 
}

.timer-container {
  position: absolute;
  right: 10px;
  background-color: var(--stem);
  color: var(--daisy);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.form-custom-style {
  background-color: var(--light-daisy);
  color: var(--greenery);
  border: 1.5px solid var(--gold);
  padding: 20px;
  border-radius: 10px;

}

.btn-custom {
  background-color: var(--stem);
  color: var(--light-daisy);
  border: none;
}

.OnDisplay{
  display:block;
}

.OffDisplay{
  display: none;
}


.quoteCard{
  text-align: center;
}

.popUpStyle{
  background-color: #fffbef;
  height: 100vh;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qoutehold{
  border: 1px solid black;
  border-radius: 50px;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.qoutehold p{
  font-size:18px;
  
}

.qoutehold h5{
  margin: 10px 0 20px 0;
}






